* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e1e4e9;
    font-family: 'Exo', sans-serif;
}

.header {
    text-align: center;
   margin-bottom: 100px;
    background-position: center;
    background-size:cover;
    position: relative;
    height: 600px;
    background-image: url(../img/bcg%20-%20Kopia.jpg);
     background-position: center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


ul {
    list-style-type: none;
}
.title {
    font-size: 35px;
    color: #414858;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 5px 5px 8px black;
    font-size: 60px;
    font-weight: bold;
}


.list {
    color: #fff;
    text-shadow: 1px 2px 1px black;
    margin-top: 50px;
    font-size: 20px;
}

.search {
    background-color: #6a8ba3;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    border: none;
    outline: none;
    height: 48px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0,0,0,.7);
    font-size: 20px;
}
.bestSearch {
    display: block;
    margin: 30px auto 0 auto;
    width: 100%;
}
input {
    padding: 0 10px;
    height: 48px;
    box-shadow: 2px 3px 10px rgba(0,0,0,.7);
    position: relative;
    bottom: 3px;
}

.position__imgList {
    height:247px;
    width:auto;
}


.name {
    font-size: 35px;
    font-weight: bold;
    color: #414858;
}


.category {
    margin: 50px 0 0 50px;
}
.position {
    margin: 50px 0 70px 0;
    background-color: white;
    padding: 50px 150px;
    position: relative;
}

.position--list {
    padding: 50px 100px;
    max-width: 800px;
    margin: 50px auto 70px auto;
}

.position--list__about {
    font-size: 14px;
    font-style: italic;
}

.position__rank {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #6a8ba3;
    color: white;
    top: -30px;
    left: -30px;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    font-weight: bold;
}

.color {
    color: purple;
    font-weight: bold;
}

.position__author {
    margin-bottom: 40px;
   
}

.position__author--search{
    font-size: 18px;
}

.position__title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 27px;
}

.position__title--search {
    font-size: 21px;
}

.position__weeks {
    color: #6a8ba3;
}

.position__about {
    font-size: 15px;
    font-style: italic;
}

.position__subTitle {
    margin-bottom: 5px;
}

.position__subTitle-search {
    font-size: 14px;
    
}

.position__publisher--search {
    font-size: 14px;
    margin-bottom: 10px;
}